[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "fzf/.fzf"]
	path = fzf/.fzf
	url = https://github.com/junegunn/fzf
[submodule "awesome/lain"]
	path = lain
	url = https://github.com/lcpz/lain.git
[submodule "awesome/freedesktop"]
	path = freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
